.cartPage {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItemsList {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
}

.cartItem {
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cartItemImage img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cartItemDetails {
  margin-left: 20px;
  flex-grow: 1;
}

.cartItemDetails h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cartItemDetails .description {
  font-size: 14px;
  color: #555;
}

.cartItemPrice {
  margin-top: 10px;
}

.cartItemPrice .price {
  font-size: 18px;
  font-weight: bold;
}

.quantityContainer {
  margin-top: 10px;
}

.quantityContainer input {
  width: 60px;
  padding: 5px;
  margin-left: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.removeItem {
  align-self: center;
  cursor: pointer;
}

.totalPriceSection {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.totalPrice {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.checkoutSection {
  width: 100%;
  max-width: 500px;
}

.emptyCart {
  text-align: center;
  font-size: 20px;
  color: #333;
}

.paginationControls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #3a3d46;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginationButton:hover:not(:disabled) {
  background-color: #0056b3;
}
